<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
        version="2.4">
    <display-name>Template WebApp</display-name>

    <mime-mapping>
        <extension>msi</extension>
        <mime-type>application/x-msi</mime-type>
    </mime-mapping>

    <filter>
        <filter-name>Auther</filter-name>
        <filter-class>com.fr.io.AuthFilter_1</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Auther</filter-name>
        <url-pattern>/decision/view/report</url-pattern>  //拦截report
    </filter-mapping>
    <filter-mapping>
        <filter-name>Auther</filter-name>
        <url-pattern>/decision/view/form</url-pattern>    //拦截form
    </filter-mapping>
    <filter-mapping>
        <filter-name>Auther</filter-name>
        <url-pattern>/decision</url-pattern>    //拦截pc平台
    </filter-mapping>
    <filter-mapping>
        <filter-name>Auther</filter-name>
        <url-pattern>/decision/url/mobile</url-pattern>  //拦截移动端平台
    </filter-mapping>
</web-app>